[user]
	name = Victor Lopez
	email = vmlopez.r@gmail.com
[core]
	editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
